*/build
*/dist
*/target
*/nbproject/private
*/.Rproj.user
*/.Rbuildignore
*/.Rhistory
*/__pycache__
*/*/__pycache__
*/*/*/__pycache__
*/*.egg-info
*/*/*.egg-info
*/*/dist
*/*.spec
*/cmake-build-debug
.Rproj.user
.Rhistory

